@model CaseItauWeb2.Models.Fundo

@{
    ViewData["Title"] = "Movimentar";
}

<h1>Movimentar</h1>

<h4>Fundo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Movimentar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="codigo" />
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" ReadOnly="true" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cnpj" class="control-label"></label>
                <input asp-for="cnpj" ReadOnly="true" class="form-control" />
                <span asp-validation-for="cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoTipo" class="control-label"></label>
                <input asp-for="codigoTipo" ReadOnly="true" class="form-control" />
                <span asp-validation-for="codigoTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeTipo" class="control-label"></label>
                <input asp-for="nomeTipo" ReadOnly="true" class="form-control" />
                <span asp-validation-for="nomeTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patrimonio" class="control-label"></label>
                <input asp-for="patrimonio" class="form-control" />
                <span asp-validation-for="patrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
